<div class="import-saved-cart">
  {% if customer %}
    <h2>Dear {{ customer.first_name }}, click here for retrieving your saved cart</h2>
  {% else %}
    <h2>Dear customer, in order to use the saved cart features, please login</h2>
  <!-- {% assign button_text = "Import Saved Cart" %} -->
    <!-- <button id="myButton" onclick="importSavedCart()">{{ button_text }}</button> -->
    <a href="{{ section.settings.link }}" class="button">{{ section.settings.linktext }}</a>
  {% endif %}
  <h2>{{ section.settings.custom_text_title }}</h2>
  <div>{{ section.settings.custom_text_body }}</div>
</div>
<script>
  function importSavedCart() {
    // fetch the saved cart details from the DB.
    // imitate importSavedCart(custumerId) function from web/savedCart.js.

    return;
  }
</script>
{% schema %}
{
  "name": "Text Box",
  "settings": [
    {
      "id": "linktext",
      "type": "text",
      "label": "Import Saved Cart",
      "default": "Import Saved Cart"
    },
    {
      "id": "link",
      "type": "text",
      "label": "link",
      "default": "www.google.com"
    },
    {
      "id": "custom_text_title",
      "type": "text",
      "label": "Text box heading",
      "default": "For now"
    },
    {
      "id": "custom_text_body",
      "type": "richtext",
      "label": "Add custom text below",
      "default": "<p>feel free to write here something for some reason</p>"
    }
  ],
  "presets": [
    {
      "name": "import-saved-cart",
      "category": "Custom"
    }
  ]
}
{% endschema %}
